{% extends "base.html" %}

{% block title %} Delete {% endblock %}

{% block content %}
    <div>
        <h1>Delete this picture? This action can't be undone. </h1>
    </div>
    <div class="row">
        <form action="{% url 'picture_confirm_delete' picture.pk %} " method="POST">
            {% csrf_token %}
            <input class="btn btn-outline-danger mt-5" type="submit" value="YES">
            <a class="btn btn-primary mt-5" href="{% url 'index' %}">NO</a>
        </form>
    </div>
{% endblock %}